;шаблон файла настроек settings.ini

[WORKSPACE]
main_dir = \mondi\olp_package_create_tool
log_dir_name = \mondi\olp_package_create_tool\logs

[DB_CONNECT]
is_use_dir = 1
connection_dir = connections
connection_name = mondi@arcgisdb.igit.local.sde
schema_name = MondiGeoDB.MONDI

[TOOL]
is_debug=0
is_logging=1

[FC]
plots = PLOT
olp_works_pol = OLP_WORKS_POL
stratums = STRATUM

[TBL]
mdo = MDO
species = SPECIES